* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

h1{
  font-size: 50px;
  text-align: center;
}

h2{
  font-size: 30px;
  align-items: center;
  padding-left: 20px;
  padding-bottom: 30px;
}

.experience > p{
  padding-top: 5%;
  margin-bottom: -5%;
}
