* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.about {  
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-content p{
  padding: 5% 24% 5%;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  color: white;
  text-align: center;
  align-items: center;
  font-size: 20px;
  display: inline-flex;
  line-height: 30px;
  weight: 100px;
}

#profile{
  margin-right: 9%;  
  padding-right: 41%;    
  max-width: 100%;
  max-height: 100%;
  width: 300px;
  height: 300px;
}

#profile:hover{
  transform: scale(1.02);
}

.about h1{
  padding: 2%;
  font-size: 50px;
  background: white;
  color: rgb(28, 27, 27)
}

/* 
.about {
   /* background-image: url('/images/landing-img.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
color: #fff;
}
/* 
.contact {
  background-image: url('/images/landing-img.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
}
*/

 /*
.error404 {
  background-image: url('/images/landing-img.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

*/

@media only screen and (max-width: 960px) {
  .page-content {
    padding: 0;
  }

  .page-content p {
    padding: 25% auto 20%;
    display: flex;
    flex-direction: column;
  }

  #profile{
    max-width: 350px;
    width: 84%;
    margin-right: 0px; 
    margin-bottom: 10%; 
    padding: 25% 0; 
  } 
}